.app-header {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  height: 65px;
  padding-block: 15px;
  padding-inline: 12px;
  border-radius: 16px 16px 0px 0px;
  @include for-mobile-layout {
    border-radius: 0px;
  }
}
.arrow-button {
  border: none;
  margin-inline: 5px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.7);
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.arrow-button-icon {
  filter: invert(100%) sepia(1%) saturate(379%) hue-rotate(279deg)
    brightness(108%) contrast(100%);
}

.signup-a {
  @include link();
  padding-inline-end: 24px;
}

.login-button {
  @include round-button("login");
}
.logged-in-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  border: 0;
  background-color: $hover-light-spotify-black;
  img {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    border: 0;
  }
}
.blend-btn {
  @include round-button("login");
  padding-inline: 1em;
  padding-block: 1em;
  margin-inline-end: 1em;
}

.invitation-header {
  color: $white;
  margin-block-start: 0;
}

.invitation-txt {
  @include body-text("body");
  margin-block-end: 24px;
}

.invitation-input {
  padding-block: 8px;
  padding-inline-end: 8px;
  margin-inline-end: 8px;
  padding-inline-start: 16px;
  border: 1px solid $spotify-body-text-grey;
  border-radius: 500px;
  color: $white;
  background-color: $spotify-background-black;
  &:focus {
    border-color: $white;
  }
}
.backdrop {
  z-index: 998;
  opacity: 0.3;
  background-color: $black;
}
.invitation-container {
  position: absolute;
  bottom: 70%;
  right: 1%;
  left: 80%;
  background-color: $hover-light-spotify-black;
  z-index: 999;
  padding: 24px;
  border-radius: 8px;
  transition: opacity 291ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    transform 194ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  @include for-mobile-layout {
    bottom: 60%;
    left: 44%;
    right: 4%;
  }
  @include for-narrow-layout {
    bottom: 70%;
    left: 66%;
    right: 7%;
  }
}
.invitation-btn-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.invitation-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 24px;
}
.invitation-btn {
  @include round-button("login");
  padding: 12px;
}

.invitation-decline-btn {
  @include round-button("filter");
  padding: 4px;
}
