.app-header {
    display: flex;
    justify-content: space-between;
    background-color: $light-spotify-black;
    // width: 1000px;
    height: 65px;
    padding-block: 15px;
    padding-inline: 12px;
}
.arrow-button{
    border:none;
    margin-inline: 5px;
    border-radius: 50%;
    background-color:rgba(0,0,0,.7);
    height: 32px;
    width: 32px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.signup-a{
    @include link(16);
    padding-inline-end:24px;
}

.login-button{
    @include round-button('login');
}