.aside{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $black;
    width: 287px;
    height: 100%;
    // padding: 12px;

    grid-column: 1/2;
    grid-row:1/2;
}