
.library {
    margin-top: 12px;
    color: darken($color: $white, $amount: 20%);
    border-radius: .5rem;
    background-color: $spotify-black;

    .library-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .5rem;

        h1 {
            margin: 0;
        }

        button {
            color: $white;
            font-size: larger;
            margin: 0;
            border: none;
            border-radius: 1rem;
            background-color: $spotify-black;
        }

        button:hover {
            cursor: pointer;
            background-color: $light-spotify-black;
        }
    }

    .library-filter {
        padding: .5rem;
        display: flex;
        justify-content: space-between;

        label {
            display: flex;
        }

        input {
            color: darken($color: $white, $amount: 20%);
            background-color: $spotify-black;
            border: none;
        }

        input:focus-visible {
            background-color: lighten($color: $light-spotify-black, $amount: 10%);
        }

        select {
            border: none;
            color: $white;
            background-color: $spotify-black;
        }

        img {
            height: 16px;
            width: 16px;
        }
    }

    li {
        color: $white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .5rem;
        border-radius: .5rem;
        background-color: $spotify-black;
        margin-top: 0;

        article {
            display: flex;
            align-items: center;
            gap: .5rem;

            h1 {
                margin: 0;
                width: max-content;
            }

            p {
                font-size: smaller;
                width: max-content;
                color: darken($color: $white, $amount: 20%);
                margin: 0;
            }

        }

        article:hover {
            cursor: pointer;
        }

        img {
            height: 64px;
            width: 64px;
        }

        button {
            display: none;
        }

    }

    li:hover {
        background-color: lighten($color: $light-spotify-black, $amount: 10%);
    }
}

// .homepage {
//     li {
//         background-color: lighten($color: $light-spotify-black, $amount: 10%);
//         padding: 1rem;
//     }
// }