.library {
    margin-top: .5rem;
    height: 100%;
    color: darken($color: $white, $amount: 20%);
    border-radius: .5rem;
    background-color: $spotify-black;
    width: 278px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .library-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .5rem 1rem;

        div {
            padding: .25rem .25rem;
            display: flex;
            gap: .5rem;
        }

        img {
            width: 24px;
        }

        h1 {
            color: $spotify-grey;
            margin: 0;
            font-size: smaller;
        }

        button {
            margin: 0;
            border: none;
            border-radius: 1rem;
            background-color: $spotify-black;

            img {
                width: 16px;
            }
        }

        button:hover {
            cursor: pointer;
            background-color: $light-spotify-black;
        }
    }

    .library-filter {
        padding: .5rem 1.25rem;
        // margin: .5rem 1rem;
        display: flex;
        justify-content: space-between;

        label {
            display: flex;
        }

        input {
            color: darken($color: $white, $amount: 20%);
            background-color: $spotify-black;
            border: none;
            width: 7rem;
        }

        input:focus-visible {
            background-color: lighten($color: $light-spotify-black, $amount: 10%);
        }

        select {
            border: none;
            width: 4.5rem;
            color: $spotify-grey;
            background-color: $spotify-black;
        }

        img {
            height: 16px;
            width: 16px;
        }
    }

    ul {
        margin: 0 0 1rem;
        height:550px;
        overflow-y: auto;

    }

    &:hover {
        ::-webkit-scrollbar-thumb {
            background: #555;
        }
    }

    ::-webkit-scrollbar {
        width: 12px;
        height: 16px;
        padding: 2px;
    }

    ::-webkit-scrollbar-track {
        background: $spotify-black;

    }

    ::-webkit-scrollbar-thumb {
        background: #55555500;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #b3b3b3b6;
    }

    li {
        color: $white;
        padding: .5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: .5rem;
        background-color: $spotify-black;
        margin-top: 0;
        margin: 0 0 0 .5rem;

        article {
            display: flex;
            align-items: center;
            gap: .5rem;

            h1 {
                margin: 0;
                font-size: smaller;
                font-weight: lighter;
                width: max-content;
            }

            p {
                font-size: smaller;
                width: max-content;
                color: darken($color: $white, $amount: 20%);
                margin: 0;
            }

        }

        article:hover {
            cursor: pointer;
        }

        img {
            height: 48px;
            width: 48px;
            border-radius: .25rem;
        }

        button {
            display: none;
        }

    }

    li:hover {
        background-color: $light-spotify-black;
    }
}

// .homepage {
//     li {
//         background-color: lighten($color: $light-spotify-black, $amount: 10%);
//         padding: 1rem;
//     }
// }