.app-player {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 72px;
    // position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:black;
    color: #fff;
    text-align: center;

    grid-column: 1/3;
    grid-row: 2/3;
}

.player-song-preview {
    display: flex;
    align-items: center;
}

.player-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-controls {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 8px;
    flex-flow: row nowrap;
    gap: 8px;
    width: 100%;
}

.player-side-controls {
    display: flex;
    flex-direction: row;
    align-self: center;
    align-items: baseline

}


.player-controls-left {
    display: flex;
    justify-content: space-between;
    // flex: 1;
    gap: 12px;

}

.player-controls-right {
    display: flex;
    justify-content: space-between;
    // flex: 1;
    gap: 12px;
}



.player-btn {
    
    
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    color: inherit;
    cursor: pointer;
    outline: none;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;

    img {
        width: 16px;
        height: 16px;
    }

    
    img.pause-icon,
    img.play-icon {
        filter: invert(0%) sepia(5%) saturate(943%) hue-rotate(299deg) brightness(99%) contrast(104%);
    }

    img.pause-icon:hover,
    img.play-icon:hover{
        filter: invert(0%) sepia(5%) saturate(943%) hue-rotate(299deg) brightness(99%) contrast(104%);
    }

    img.unlooped-icon,
    img.unshuffeld-icon,
    img.empty-heart-icon,
    img.unmute-icon,
    img.mute-icon {
        filter: invert(93%) brightness(70%) sepia(32%) saturate(0%) hue-rotate(230deg) brightness(107%) contrast(106%);
    }
    
    img.unlooped-icon:hover,
    img.unshuffeld-icon:hover,
    img.empty-heart-icon:hover,
    img.unmute-icon:hover,
    img.mute-icon:hover {
        filter: invert(93%) brightness(100%) sepia(32%) saturate(0%) hue-rotate(230deg) brightness(107%) contrast(106%);
    }
    
    // img.unshuffeld-icon,
    // img.unlooped-icon,
    img.next-song-icon,
    img.prev-song-icon{
        filter: brightness(70%);
        transition: filter 0.1s ease; /* Add a smooth transition for a nice effect */
    }
    
    // img.unshuffeld-icon:hover,
    // img.unlooped-icon:hover,
    img.next-song-icon:hover,
    img.prev-song-icon:hover{
        filter: brightness(100%); /* Return the brightness to its original value */
    }

    img.looped-icon,
    img.full-heart-icon{
        filter: invert(50%) sepia(67%) saturate(1934%) hue-rotate(104deg) brightness(99%) contrast(79%);
    }
}

button.play-pause-button{
    width: 32px;
    height: 32px;
    background-color: #fff;
    border-radius: 50%;
    transition: transform 0.1s ease;
}

button.play-pause-button:hover{
    transform: scale(1.1);
}

.progress-bar {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 8px;
    align-items: center;
    align-self: center;
    width: 100%;
    
    .elapsed-time{
        font-size: 14px;
    }

    .remaining-time{
        font-size: 14px;
    }
}

.bar {
    width: 100%;
    accent-color: white;
   
}



