.song-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.song-list-container {
  padding-inline: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.info-line {
  width: calc(100% - 18px);
  padding-inline: 1em;
  align-items: center;
  margin-block-end: 12.547px;
  // margin-inline-start: 6px;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
  @include body-text("body");
  vertical-align: baseline;
  display: grid;
  grid-template-columns: 16px 6fr 4fr 3fr minmax(120px, 1fr);
  grid-template-rows: 36px;
  gap: 0 16px;
  grid-template-areas: "index title album added duration";
  @include for-mobile-layout {
    display: none;
  }
}
.info-line-index {
  grid-area: index;
  margin-inline-start: 8px;
}
.info-line-title {
  grid-area: title;
}
.info-line-album {
  grid-area: album;
}
.info-line-added-at {
  grid-area: added;
}
.info-line-duration {
  margin-inline-start: 24px;
  grid-area: duration;
  height: 16px;
  width: 16px;
  filter: invert(82%) sepia(14%) saturate(0%) hue-rotate(137deg) brightness(88%)
    contrast(87%);
}

.song-list-item {
  width: calc(100% - 18px);
  padding-inline: 1em;
  align-items: center;
  border-radius: 4px;
  display: grid;
  grid-template-columns: 16px 6fr 4fr 3fr minmax(120px, 1fr);
  grid-template-rows: 56px;
  gap: 0 16px;
  grid-template-areas: "song-index song-preview song-album song-added song-duration";
  &:hover {
    background-color: rgb(225, 225, 225, 0.1);
    .song-list-item-btn {
      visibility: visible;
    }
  }
  @include for-mobile-layout {
    width: 100%;
    grid-template-columns: 1fr 100px;
    grid-template-areas: "song-preview song-duration";
    padding-inline: 0;
  }
}

.song-list-item-index {
  margin: 0;
  grid-area: song-index;
  text-align: center;
  color: $spotify-body-text-grey;
  @include body-text("secondary");
  @include for-mobile-layout {
    display: none;
  }
}
.song-list-item-preview {
  grid-area: song-preview;
  @include for-mobile-layout {
    grid-area: song-preview;
  }
}
.song-list-item-album {
  grid-area: song-album;
  @include body-text("body");
  margin: 0;
  @include for-mobile-layout {
    display: none;
  }
}
.song-list-item-added-at {
  grid-area: song-added;
  @include body-text("body");
  margin: 0;
  @include for-mobile-layout {
    display: none;
  }
}
.song-list-item-duration-container {
  display: flex;
  justify-self: end;
  align-items: center;
  grid-area: song-duration;
  @include for-mobile-layout {
    grid-area: song-duration;
  }
}
.song-list-item-btn {
  visibility: hidden;
  background-color: transparent;
  border: none;
  height: 32px;
  width: 32px;
  padding-block: 8px;
  margin-inline-end: 16px;
  @include for-mobile-layout {
    visibility: visible;
  }
}
.song-list-item-btn-img {
  height: 16px;
  width: 16px;
  filter: invert(82%) sepia(14%) saturate(0%) hue-rotate(137deg) brightness(88%)
    contrast(87%);
}
.song-list-popover {
  border: 0;
  border-radius: 4px;
  background-color: transparent;
}
.song-list-item-duration {
  margin-inline-end: 16px;
  margin-block-end: 0;
  @include body-text("body");
  @include for-mobile-layout {
    display: none;
  }
}
.liked {
  filter: invert(61%) sepia(59%) saturate(2082%) hue-rotate(94deg)
    brightness(91%) contrast(79%);
}
