* {
  box-sizing: border-box;
  font-family: circular, sans-serif;
}

::selection {
  background-color: $white;
  opacity: 10%;
  color: inherit;
}

html {
  font-family: circular, sans-serif;
  line-height: 1.6;
  color: $white;
}

body {
  font-size: rem(18px);
  margin: 0;
  margin: auto;
  background-color: $black;
}

.root-main {
  // padding: 12px;
  background-color: $spotify-background-black;
  border-radius: 8px;
}

img {
  width: 100%;
}

p {
  margin: 0 0 1em;
}
