.app-layout {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr auto;
  height: 100vh;
  min-height: 100%;
  padding-block-start: 8px;
  padding-inline: 8px;
  position: relative;
  width: 100%;
  @include for-mobile-layout {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 72px 112px;
    padding: 0;
  }
}
