.app-layout {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr auto;
  height: 100vh;
  min-height: 100%;
  padding: 8px;
  position: relative;
  width: 100%;
  @include for-mobile-layout {
    grid-template-columns: none;
    grid-template-rows: 1fr 72px 112px;
  }
}
