.homepage {
    h1 {
        margin: 1rem;
        margin-top: .5rem;
    }

    h2 {
        font-size: 1.5rem;
        margin: 1rem;
        margin-top: 1.5rem;
    }

    overflow-y: auto;
    height: calc(100vh - 72px - 65px - 16px);

    .top-station-list {

        .station-list {
            margin: 1rem;
            display: grid;
            grid-template-columns: 1fr;
            gap: .75rem;

            .station-preview {
                height: 48px;
                margin-top: 0;
                color: $white;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-radius: .25rem;
                background-color: rgba(255, 255, 255, 0.104);
                transition: background-color .3s;

                h1 {
                    font-size: 1rem;
                    margin: 0;
                }

                p {
                    display: none;
                }

                article {
                    display: flex;
                    justify-content: start;
                    gap: 1rem;
                    align-items: center;
                }

                article:hover {
                    cursor: pointer;
                }

                button {
                    display: none;
                    height: 32px;
                    width: 32px;

                    img {
                        width: 16px;
                        height: 16px;
                    }
                }

                button:hover {
                    cursor: pointer;
                }

                img {
                    width: 48px;
                    height: 48px;
                    border-radius: .25rem;
                }

                // .play-button-icon {
                //     height: 48px;
                //     width: 48px;
                //     border-radius: .25rem;
                //     filter: invert(63%) sepia(62%) saturate(4488%) hue-rotate(104deg) brightness(99%) contrast(79%);
                // }
            }

            .station-preview:hover {
                background-color: rgba(255, 255, 255, 0.232);

                button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            @media screen and (min-width: 850px) {
                grid-template-columns: 1fr 1fr;
            }

            @media screen and (min-width: 1200px) {
                grid-template-columns: 1fr 1fr 1fr;
            }

            @media screen and (min-width: 1400px) {
                .station-preview {
                    height: 64px;

                    img {
                        width: 64px;
                        height: 64px;
                    }

                    button {
                        width: 48px;
                        height: 48px;

                        img {
                            width: 24px;
                            height: 24px;
                        }
                    }
                }
            }

        }

    }

    .bottom-station-list {

        display: flex;

        .station-list {
            margin: 0 1rem;
            display: grid;
            // height: 285px;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 1fr;
            justify-content: center;
            gap: 1rem;
            overflow: hidden;

            li:nth-child(2)~* {
                display: none;
            }

            .station-preview {
                position: relative;
                display: flex;
                // height: 200px;
                // min-width: 150px;
                // max-width: 200px;
                flex-direction: column;
                // height: max-content;
                align-items: center;
                justify-content: center;
                border-radius: .25rem;
                background-color: rgba(255, 255, 255, 6%);
                transition: background-color .3s;

                article {
                    margin: 1rem;
                    flex-direction: column;

                    h1 {
                        font-size: smaller;
                        margin: 0;
                    }

                    p {
                        font-size: smaller;
                        color: $spotify-grey ;
                        min-width: max-content;
                    }

                    img {
                        width: 100%;
                        border-radius: .25rem;
                    }
                }

                article:hover {
                    cursor: pointer;
                }

                button {
                    display: none;
                    height: 48px;
                    width: 48px;
                }
            }

            .station-preview:hover {
                background-color: rgba(255, 255, 255, 0.232);

                button {
                    position: absolute;
                    bottom: 40%;
                    right: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            @media screen and (min-width: 850px) {
                grid-template-columns: repeat(3, 1fr);

                li:nth-child(3) {
                    display: flex;
                }
            }

            @media (min-width: 1050px) {
                grid-template-columns: repeat(4, 1fr);

                li:nth-child(4) {
                    display: flex;
                }
            }

            @media (min-width: 1400px) {
                grid-template-columns: repeat(5, 1fr);

                li:nth-child(5) {
                    display: flex;
                }

                // height: 335px;
            }

            // @include for-wide-layout {
            //     grid-template-columns: repeat(5, 1fr);
            // }
        }
    }


}

.homepage:hover {
    ::-webkit-scrollbar-thumb {
        background: #555;
    }
}

::-webkit-scrollbar {
    width: 12px;
    height: 16px;
    padding: 2px;
}

::-webkit-scrollbar-track {
    background: $spotify-black;
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb {
    background: #55555500;
}

::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3b6;
}