.homepage {

    .station-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: .75rem;

        .station-preview {
            height: 64px;
            min-width: 250px;
            margin-top: 0;
            color: $white;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-radius: .5rem;
            background-color: rgba(255, 255, 255, 0.104);

            h1 {
                margin: 0;
            }

            p {
                display: none;
            }

            article {
                display: flex;
                justify-content: start;
                gap: 1rem;
                align-items: center;
            }

            article:hover {
                cursor: pointer;
            }

            button {
                display: none;
            }

            img {
                height: 64px;
                width: 64px;
                border-radius: .25rem;
            }
        }

        .station-preview:hover {
            background-color: rgba(255, 255, 255, 0.232);
        }
    }
}