.homepage {
  h1 {
    margin: 1rem;
    margin-top: 0.5rem;
  }

  h2 {
    font-size: 1.5rem;
    margin: 1rem;
    margin-top: 1.5rem;
  }

  overflow-y: auto;
  height: calc(100vh - 72px - 65px - 16px);

  .top-station-list {
    .station-list {
      margin: 1rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 0.75rem;

      .station-preview {
        position: relative;
        height: 48px;
        margin-top: 0;
        color: $white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 0.25rem;
        background-color: rgba(255, 255, 255, 0.104);
        transition: background-color 0.3s;

        h1 {
          font-size: 1rem;
          margin: 0;
        }

        p {
          display: none;
        }

        article {
          display: flex;
          justify-content: start;
          gap: 1rem;
          align-items: center;
        }

        article:hover {
          cursor: pointer;
        }

        .img-container {
          display: flex;
          aspect-ratio: 1;
        }

        img {
          width: 48px;
          height: 48px;
          border-top-left-radius: 0.25rem;
          border-bottom-left-radius: 0.25rem;
          box-shadow: 3px 0 15px $spotify-background-black;
        }

        button {
          position: absolute;
          top: 50%;
          right: 0;
          transform: translate(0, -50%);
          display: none;
          height: 32px;
          width: 32px;

          animation: 1s;

          img {
            width: 20px;
            height: 20px;
            box-shadow: none;
          }

          &.playing {
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }

        button:hover {
          cursor: pointer;
          scale: 1.05;
          background-color: lighten($color: $spotify-active-green, $amount: 5%);
        }
      }

      .station-preview:hover {
        background-color: rgba(255, 255, 255, 0.232);

        button {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      @media screen and (min-width: 850px) {
        grid-template-columns: 1fr 1fr;
      }

      @media screen and (min-width: 1200px) {
        grid-template-columns: 1fr 1fr 1fr;
      }

      @media screen and (min-width: 1400px) {
        .station-preview {
          height: 64px;

          img {
            width: 64px;
            height: 64px;
          }

          button {
            width: 48px;
            height: 48px;

            img {
              width: 24px;
              height: 24px;
            }
          }
        }
      }
    }
  }

  .bottom-station-list {
    display: flex;

    .station-list {
      margin: 0 1rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;
      justify-content: center;
      gap: 1rem;
      overflow: hidden;

      li:nth-child(2) ~ * {
        display: none;
      }

      .station-preview {
        display: flex;
        flex-direction: column;
        height: 274px;
        align-items: center;
        border-radius: 0.25rem;
        background-color: rgba(255, 255, 255, 6%);
        transition: background-color 0.3s;
        @include for-mobile-layout {
          height: 200px;
        }

        article {
          margin: 1rem;
          display: flex;
          flex-direction: column;

          h1 {
            font-size: smaller;
            margin: 1rem 0rem 0;
          }

          p {
            font-size: smaller;
            color: $spotify-body-text-grey;
            width: 100%;
            max-height: 3rem;
            overflow: hidden;
            text-overflow: ellipsis;
            margin: 0;
          }

          .station-preview-created-by {
            display: none;
          }

          .station-preview-songs {
            display: none;
          }

          .img-container {
            display: flex;
            position: relative;
          }

          img {
            width: 100%;
            border-radius: 0.25rem;
            aspect-ratio: 1/1;
          }

          button {
            position: absolute;
            bottom: 0;
            right: 5%;
            opacity: 0;
            height: 48px;
            width: 48px;
            margin: 0;
            transition: all 0.2s;

            &:hover {
              cursor: pointer;
              scale: 1.05;
              background-color: lighten(
                $color: $spotify-active-green,
                $amount: 5%
              );
            }

            &.playing {
              position: absolute;
              bottom: 5%;
              right: 5%;
              display: flex;
              align-items: center;
              justify-content: center;
              opacity: 1;
            }
          }
        }

        article:hover {
          cursor: pointer;
        }
      }

      .station-preview:hover {
        transition: background-color 0.3s ease-in;
        background-color: rgba(255, 255, 255, 0.232);

        button {
          position: absolute;
          bottom: 5%;
          right: 5%;
          display: flex;
          align-items: center;
          justify-content: center;
          opacity: 1;
        }
      }

      @media screen and (min-width: 850px) {
        grid-template-columns: repeat(3, 1fr);

        li:nth-child(3) {
          display: flex;
        }
      }

      @media (min-width: 1050px) {
        grid-template-columns: repeat(4, 1fr);

        li:nth-child(4) {
          display: flex;
        }
      }

      @media (min-width: 1260px) {
        grid-template-columns: repeat(5, 1fr);

        li:nth-child(5) {
          display: flex;
        }
      }

      @media screen and (min-width: 1400px) {
        .station-preview {
          height: 300px;
        }
      }
    }
  }
}

.homepage:hover {
  ::-webkit-scrollbar-thumb {
    background: #555;
  }
}

::-webkit-scrollbar {
  width: 12px;
  height: 16px;
  padding: 2px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background: #55555500;
}

::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3b6;
}
