.station-details {
  overflow-y: auto;
  height: calc(100vh - 72px - 65px - 16px);
  padding: 0;
  &:hover {
    ::-webkit-scrollbar-thumb {
      background: #555;
    }
  }

  form {
    line-height: 1;
  }

  ::-webkit-scrollbar {
    width: 12px;
    height: 16px;
    padding: 2px;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 0.5rem;
  }

  ::-webkit-scrollbar-thumb {
    background: #55555500;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3b6;
  }
}
.station-details-header-container {
  margin-block-start: 18px;
  margin-block-end: 20px;
  padding-inline: 1em;
  display: flex;
  align-items: end;
  @include for-mobile-layout {
    flex-direction: column;
  }
}

.main-station-details-container {
  background-color: transparent;
}
.main-station-details-black {
  background-color: rgba(0, 0, 0, 0.1);
}

.station-details-img {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.5);
  height: 192px;
  width: 192px;
  margin-inline-end: 18.623px;
  @include for-mobile-layout {
    align-self: center;
    height: 156px;
    width: 156px;
    margin-block-end: 12px;
    margin-block-start: 52px;
  }
}
.station-details-button-container {
  padding: 1em;
  display: flex;
  align-items: center;
  @include for-mobile-layout {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}
.station-details-options-btn {
  height: 55px;
  width: 55px;
}
.station-details-play-button {
  @include for-mobile-layout {
    margin: 0;
  }
}
.station-details-header {
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: start;
  @include for-mobile-layout {
    align-self: start;
  }

  h1 {
    margin: 0;
    @include headline;
    @include for-mobile-layout {
      font-size: 2rem;
    }
  }
  p {
    @include body-text("secondary");
  }
}
.station-details-header-info-container {
  letter-spacing: 0.5px;
  align-items: center;
  display: flex;
  @include for-mobile-layout {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
}
.dot {
  margin-inline: 4px;
  @include for-mobile-layout {
    display: none;
  }
}
.station-details-created-by {
  @include body-link("primary-small");
  @include for-mobile-layout {
    margin-block-end: 12px;
  }
}
.station-details-tags,
.station-details-count {
  @include body-text("secondary-small");
  @include for-mobile-layout {
    display: none;
  }
}
.station-details-created-at {
  @include body-text("body");
}
.station-details-svg-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  height: 55px;
  width: 55px;
  padding-block: 8px;
  margin-inline-end: 16px;
}
.station-details-svg-btn-img {
  height: 31px;
  width: 31px;
  filter: invert(82%) sepia(14%) saturate(0%) hue-rotate(137deg) brightness(88%)
    contrast(87%);
  &:hover {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(244deg)
      brightness(108%) contrast(102%);
  }
}
.station-details-search-song-list {
  margin: 0;
  list-style: none;
  padding: 18px;

  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;
    margin-bottom: 0.5rem;

    .side-container {
      position: relative;
    }

    .right-container {
      button {
        border: 1px solid $spotify-body-text-grey;
        border-radius: 2rem;
        padding: 0 0.5rem;

        &:hover {
          border: 2px solid $white;
        }
      }
    }

    .secondary-play-button {
      position: absolute;
      top: 50%;
      left: 1.25rem;
      transform: translate(-50%, -50%);
      opacity: 0;
      background-color: transparent;
      box-shadow: none;
      filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(359deg)
        brightness(99%) contrast(105%);

      &:hover {
        cursor: pointer;
      }

      &.playing {
        opacity: 1;
      }
    }

    &:hover {
      background-color: rgba(40, 40, 40, 0.5);
      .secondary-play-button {
        opacity: 1;
      }

      .song-preview-img {
        filter: brightness(0.5);
      }
    }
  }
}
