.station-details {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(76, 55, 150, 1) 100%
  );
  overflow-y: scroll;
}
.station-details-header-container {
  margin-block-start: 60px;
  margin-block-end: 20px;
  padding-inline: 1em;
  display: flex;
}

.main-station-details-container {
  background-color: transparent;
}
.main-station-details-black {
  background-color: rgba(0, 0, 0, 0.1);
}

.station-details-img {
  box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
  height: 192px;
  width: 192px;
  margin-inline-end: 18.623px;
}
.station-details-button-container {
  padding: 1em;
  display: flex;
}

.station-details-header {
  h1 {
    @include headline;
  }
  p {
    @include body-text("secondary");
  }
}
.station-details-svg-btn {
  background-color: transparent;
  border: none;
  height: 32px;
  width: 32px;
  padding-block: 8px;
  margin-inline-end: 16px;
}
.station-details-svg-btn-img {
  height: 31px;
  width: 31px;
  filter: invert(82%) sepia(14%) saturate(0%) hue-rotate(137deg) brightness(88%)
    contrast(87%);
  &:hover {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(244deg)
      brightness(108%) contrast(102%);
  }
}
