.station-details {
  overflow-y: auto;
  height: calc(100vh - 72px - 65px - 16px);
  &:hover {
    ::-webkit-scrollbar-thumb {
      background: #555;
    }
  }

  ::-webkit-scrollbar {
    width: 12px;
    height: 16px;
    padding: 2px;
  }

  ::-webkit-scrollbar-track {
    background: $spotify-background-black;
    border-radius: 0.5rem;
  }

  ::-webkit-scrollbar-thumb {
    background: #55555500;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3b6;
  }
}
.station-details-header-container {
  margin-block-start: 18px;
  margin-block-end: 20px;
  padding-inline: 1em;
  display: flex;
  align-items: end;
}

.main-station-details-container {
  background-color: transparent;
}
.main-station-details-black {
  background-color: rgba(0, 0, 0, 0.1);
}

.station-details-img {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.5);
  height: 192px;
  width: 192px;
  margin-inline-end: 18.623px;
}
.station-details-button-container {
  padding: 1em;
  display: flex;
}

.station-details-header {
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: start;

  h1 {
    margin: 0;
    @include headline;
  }
  p {
    @include body-text("secondary");
  }
}

.dot {
  margin-inline: 4px;
}
.station-details-created-by {
  @include body-link("primary-small");
}
.station-details-tags,
.station-details-count {
  @include body-text("secondary-small");
}
.station-details-created-at {
  @include body-text("body");
}
.station-details-svg-btn {
  background-color: transparent;
  border: none;
  height: 32px;
  width: 32px;
  padding-block: 8px;
  margin-inline-end: 16px;
}
.station-details-svg-btn-img {
  height: 31px;
  width: 31px;
  filter: invert(82%) sepia(14%) saturate(0%) hue-rotate(137deg) brightness(88%)
    contrast(87%);
  &:hover {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(244deg)
      brightness(108%) contrast(102%);
  }
}
