/* Breakpoint mixins */

@mixin for-mobile-layout {
    @media (max-width: calc($mobile-breakpoint + 40px)) {
        @content;
    }
}

@mixin for-narrow-layout {
    @media (min-width: calc($mobile-breakpoint + 40px)) {
        @content;
    }
}

@mixin for-normal-layout {
    @media (min-width: calc($narrow-breakpoint + 40px)) {
        @content;
    }
}

@mixin for-wide-layout {
    @media (min-width: calc($normal-breakpoint + 40px)) {
        @content;
    }
}

/* Media  Mixins */
@mixin aspect-ratio($width, $height) {
    position: relative;
    overflow: hidden;
    &::before {
      display: block;
      content: "";
      width: 100%;
      padding-top: calc(($height / $width) * 100%);
    }
    > * {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  
    > img {
      height: 100%;
      object-fit: cover;
    }
  }
  
  // Mixin for removing hover efects on iphone screen
  @mixin hover-supported {    
    @media not all and (pointer: coarse) {
        &:hover {
            @content;
        }
    }
  }

  @mixin round-button($type){
    display: inline-flex;
    align-items: center;
    text-align: center;
    margin: 0;
    line-height: 14px;
    font-weight: 400;
    border-radius: 2em;
    border: none;
    margin-inline-end: 0.5em;
    @if($type=='filter'){
        color: $white;
        background-color: $light-spotify-black;
        font-size: 14px;
        &:hover{
            cursor: pointer;
            background-color: lighten($color:  $light-spotify-black, $amount: 10%);
        }
        &:checked{
            color: $black;
            background-color: $white;
        }
    }
    @else if($type=='login'){
        color: $black;
        background-color: $white;
        font-size: 16px;
        height: 32px;
        padding-inline: 32px;
        padding-block: 8px;
        text-align: center;
        &:hover{
            cursor: pointer;
        }
    }

  }

  @mixin link($font-size){
    text-decoration: none;
    color: $spotify-grey;
    line-height: 25px;
    font-weight: 700;
    font-size: $font-size'px';
    padding: 8px;
    &:hover{
        color: $white;
        font-size: calc($font-size + 2)'px';
    }
  }



  