@font-face {
    font-family: GothamBook;
    src: url(public/fonts/Spotify-Font/GothamBook.ttf);
}

@font-face {
    font-family: circular;
    src: url(public/fonts/Circular/CircularStd-Book.otf);
}
