// Colors
$spotify-green: rgb(27,185,84);
$spotify-black: rgb(18,18,18);
$light-spotify-black:rgb(35,35,35);
$spotify-grey:rgb(167,167,167);
$white: #ffffff;
$black: #000000;
$background-color: rgb(23,43,49);
$background: linear-gradient(0deg, rgba(23,43,49,1) 0%, rgba(0,0,0,1) 100%);


// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
