// Colors
$spotify-active-green: rgb(27, 185, 84);
$spotify-background-black: rgb(18, 18, 18);
$hover-light-spotify-black: rgb(35, 35, 35);
$spotify-body-text-grey: rgb(167, 167, 167);
$white: #ffffff;
$black: #000000;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
