// Colors
$spotify-active-green: rgb(27, 185, 84);
$spotify-background-black: rgb(18, 18, 18);
$hover-light-spotify-black: rgb(40, 40, 40);
$textbox-spotify-grey: rgb(62, 61, 61);
$spotify-body-text-grey: rgb(167, 167, 167);
$white: #ffffff;
$black: #000000;

$layoutPadding: 8px;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;

$padded-break-mobile: $mobile-breakpoint + $layoutPadding * 2;
$padded-break-narrow: $narrow-breakpoint + $layoutPadding * 2;
$padded-break-normal: $normal-breakpoint + $layoutPadding * 2;
